.Header {
  border-bottom: 1px solid #ddd;

  .container {
    display: flex;
    align-items: center;
    height: 64px;
  }

  &-logo {
    img {
      width: 144px;
    }
  }

  &-menu {
    margin-left: auto;
    display: flex;

    &-user {
      display: flex;
      margin-right: 10px;

      a {
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;

        &:hover {
          background-color: #eee;

        }
      }
    }

    &-switch {
      color:blue;
    }


    &-helper {
      display: flex;
      margin-left: 20px;

      select {
        -webkit-appearance: none;
        border: 1px solid #E0E6F1;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
        height: $finger-size;
        color: $color-navy;
      }

      &:nth-child(1) {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }
      &:nth-child(2) {
        border-left-width: -1;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
  }


}
