$max-width:1140px;
$gutter: 20px;


$color-navy:#083887;
$color-blue:#01ACEE;
$color-soft-blue:#F1F6FF;
$color-yellow:#FBBE00;

$border-radius: 2px;

$font-family: 'Open Sans', 'Roboto', sans-serif;

$finger-size:40px;
$font-size:16px;
$font-size-small: .9em;
