$Header-height: 68px;

.Header {
  height: $Header-height;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

  }

  &-logo {
    img {
      width: 144px;
    }
  }

  &-switch {
    position: relative;
    left: 10px;
    margin-left: auto;
    @include mq("tablet") {
      display: none;
    }

  }

  &-menu {
    pointer-events: none;
    opacity: 0;
    // transform: translateX(100%);
    transition: .2s;
    display: flex;
    position: fixed;
    left:0;
    right: 0;
    top:$Header-height;
    background-color: #ccc;
    // display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:0 10px 30px rgba(black, .2);
    padding-right: $gutter;
    padding-left: $gutter;
    padding-bottom: 20px;

    .Header.menu-show & {
      opacity: 1;
      pointer-events: auto;
      // transform: translateY(0);
      transition: .2s;
    }



    @include mq("tablet") {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
      transition: 0;
      margin-left: auto;
      flex-direction: row;
      position: static;
      box-shadow: none;
      background-color: transparent;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }


    &-user {
      display: flex;
      margin-right: 10px;
      flex-direction: column;
      align-items: center;

      @include mq("tablet") {
        flex-direction:row;
      }

      a {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        height: $finger-size;

        &:hover {
          background-color: #eee;
        }
      }
    }

   &-property {
     margin-top: 20px;
     justify-content: center;
     @include mq("tablet") {
       margin-left: 20px;
       margin-top: 0;
     };
   }

    &-helper {
      margin-top: 20px;
      display: flex;
      justify-content: center;


      @include mq("tablet") {
        margin-left: 20px;
        margin-top: 0;
      }

      select {
        -webkit-appearance: none;
        border: 1px solid #E0E6F1;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
        height: $finger-size;
        color: $color-navy;
      }

      &:nth-child(1) {
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
      }

      &:nth-child(2) {
        border-left-width: -1;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
  }
}
